<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/mainPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
    <title>Main</title>
</head>
<body>
<header id="headerFront">
    <h1>Reservation System</h1>
    <ul id="headerUL">
        <li><a href="../logging/login.panel.php">Zaloguj</a></li>
        <li><a href="../register/register.panel.php">Register</a></li>
    </ul>
</header>
<button id="id" class="btn"><i class="fa fa-arrow-right"></i></button>
<nav id="nav" style="display: none" >
    <ul id="navUl">
        <li><a href="#">About</a></li>  
        <li><a href="#">About</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">About</a></li>
    </ul>
    <button id="id2" class="btn"><i class="fa fa-arrow-left"></i></button>
</nav>
<script>
    document.getElementById('id').addEventListener("click",openNav);
    document.getElementById('id2').addEventListener('click',closeNav);
    function openNav() {
        document.getElementById('id').style.display='none';
        document.getElementById('id2').style.display='block';
        document.getElementById('nav').style.display = "block";
        document.getElementById('headerFront').style.marginLeft = "5rem";
    }

    function closeNav() {
        document.getElementById('id').style.display='block';
        document.getElementById('id2').style.display='block';
        document.getElementById('nav').style.display = "none";
        document.getElementById('headerFront').style.marginLeft = "unset";
    }
</script>
<footer>
    &copy; 2024 Moja Strona
</footer>
</body>

</html>
